<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IdleMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IdleMaster.Properties.Settings>
            <setting name="sessionid" serializeAs="String">
                <value />
            </setting>
            <setting name="steamLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="myProfileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="steamparental" serializeAs="String">
                <value />
            </setting>
            <setting name="sort" serializeAs="String">
                <value />
            </setting>
            <setting name="minToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </IdleMaster.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
