<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IdleMasterExtended.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <IdleMasterExtended.Properties.Settings>
      <setting name="sessionid" serializeAs="String">
        <value/>
      </setting>
      <setting name="steamLogin" serializeAs="String">
        <value/>
      </setting>
      <setting name="myProfileURL" serializeAs="String">
        <value/>
      </setting>
      <setting name="steamparental" serializeAs="String">
        <value/>
      </setting>
      <setting name="sort" serializeAs="String">
        <value/>
      </setting>
      <setting name="minToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="updateNeeded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ignoreclient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showUsername" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyOneGameIdle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="steamRememberLogin" serializeAs="String">
        <value/>
      </setting>
      <setting name="steamMachineAuth" serializeAs="String">
        <value/>
      </setting>
      <setting name="totalCardIdled" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="totalMinutesIdled" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value/>
      </setting>
      <setting name="OneThenMany" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="customTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="colorBgd" serializeAs="String">
        <value>38, 38, 38</value>
      </setting>
      <setting name="colorTxt" serializeAs="String">
        <value>196, 196, 196</value>
      </setting>
      <setting name="whiteIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="colorBgdOriginal" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="colorTxtOriginal" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="fastMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="steamLoginSecure" serializeAs="String">
        <value/>
      </setting>
      <setting name="colorSteamGreen" serializeAs="String">
        <value>126, 166, 75</value>
      </setting>
      <setting name="NoSleep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShutdownWindowsOnDone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="blacklist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="whitelist" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="IdlingModeWhitelist" serializeAs="String">
        <value>False</value>
      </setting>
    </IdleMasterExtended.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
